

.welcome-name{
    // border: 1px solid #000;
    margin: 20px;
    // background-color: #f1f1f1;
    border-radius: 10px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-family: $title-font;
    text-transform: capitalize;
    box-shadow: 5px 5px, black;
}
.account-balance-container{
    // border: 1px dotted #000;
    background-color: #f1f1f1;
    border-radius: 10px;
    height: 10vh;
    font-family: 'Noto Serif JP', serif;
    font-size: 1.4em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-width: 400px;
    margin: 20px 0px;
    min-width: 350px;
}
.account-view-total{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
}
.account-balances-view{
    // border: 1px solid #000;
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    // background-color: grey;
    border-radius: 10px;

}
.inside-container-balance{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    text-align: center;
}
span{
    width: 30%;
    text-align: center;
}
.history-button{
    height: 100%;
    background-color: #0a3500;
    border: 2px solid #000;
    color: white;
    border-radius: 0px 10px 10px 0px;
}
.type-of-account{
    display: flex;
    height: 100%;
    align-items: center;
    background: #0a3500;
    width: 40%;
    color: white;
    border-radius: 10px 0px 0px 10px;
    // border: 1px solid #000;
    
}
.type-of-account-text{
    margin: 2px;
}
@media (min-width: 750px){
    .account-balances-view{
        align-items: flex-start;
    }
    .account-balance-container{
        width: 600px;
    }
    .type-of-account{
        align-items: flex-start;
        justify-content: center;
        background: none;
        text-decoration: underline;
        color: black;
    }
    span{
        text-align: left;
    }
}