.menu-link{
    color: #f1f1f1;
    font-size: 1.5em;
    text-decoration: none;
}
.menu-link:visited{
    color: #f1f1f1;
    text-decoration: none;
    text-transform: none;
}
.logo-to-home:visited{
    color: black;
}
.dropdown-menu{
    margin: 7.5vh 0px;
    width: 100%;
    position: absolute;
    background-color: #939393;
    border-radius: 0px 0px 10px 10px;
    color: #f1f1f1;
    font-weight: 800;
}
.header-with-dropdown{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu{
    width: 100px;
    display: flex;
    justify-content: space-around;
}
.menu-container{
    display: block;
    float: right;
    width: 140px;
}