.home-container{
    margin: 5px;
    padding: 5px;
    background: #f1f1f1;
    border-radius: 5px;
    max-width: 500px;
    min-width: 300px;
}
.money-image{
    max-width: 300px;
    border-radius: 5px;
}
.bank-image{
    border-radius: 5px;
}
.home-info{
    text-align: left;
    margin: 5px;
}
h1{
    border-radius: 5px;
    background: #f1f1f1;
    font-family: $title-font;
    margin: 5px;
    padding: 5px;
}
.home-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 750px){
    .home-body{
        display: flex;
        flex-direction: row;
    }
    h1{
        display: none;
    }
    
}