.name-text{
    text-transform: capitalize;
    margin: 5px;
    background: #f1f1f1;
    border-radius: 5px;
    width: 50vw;
    font-size: 1.5em;
    box-shadow: 1px 1px 1px gray;
}
.info-container{
    margin: 5px;
    height: 550px;
    background: #f1f1f1;
    border-radius: 5px;
    font-weight: 800;
    font-family: $other-font;
    box-shadow: 1px 1px 1px gray;
    
}
.info-input{
    border-radius: 5px;
    font-size: 1.5em;
    
}
.name-container{
    margin: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
    
    
}
.update-submit{
    border-radius: 5px;
    margin: 10px;
    font-weight: 800;
    font-size: 1em;
    width: 100px;
    height: 50px;
    background:#4d7e29;
    color: #f1f1f1;
    font-family: $button-font;
    text-transform: capitalize;
    box-shadow: 1px 1px 1px gray;
}
.update-cancel{
    border-radius: 5px;
    margin: 10px;
    width: 100px;
    height: 50px;
    font-family: $button-font;
    background: #FF2400;
    color: #f1f1f1;
    font-weight: 800;
    font-size: 1em;
    text-transform: capitalize;
    box-shadow: 1px 1px 1px gray;
}
.admin-info-container{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background: #f1f1f1;
    font-weight: 800;
    font-family: $other-font;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: capitalize;
    box-shadow: 1px 1px 1px gray;
    
}
.admin-boolean-container{
    padding: 5px;
    color: #f1f1f1;
    background: #939393;
    border-radius: 5px;
    width: 50vw;
}
.admin-is-false{
    border-radius: 5px;
    margin: 10px;
    width: 100px;
    height: 50px;
    font-family: $button-font;
    background: #FF2400;
    color: #f1f1f1;
    font-weight: 800;
    font-size: 1em;
    text-transform: capitalize;
    box-shadow: 1px 1px 1px gray;
    animation: oppColorChange 1s linear 0s 1 normal ;
}
.admin-is-true{
    border-radius: 5px;
    margin: 10px;
    font-weight: 800;
    font-size: 1em;
    width: 100px;
    height: 50px;
    background:#4d7e29;
    color: #f1f1f1;
    font-family: $button-font;
    text-transform: capitalize;
    box-shadow: 1px 1px 1px gray;
    animation: colorChange 1s linear 0s 1 normal ;
}
.udpate-description{
    text-decoration: underline;
    font-size: 1.25em;
}
.text-admin-true{
    color: #4d7e29
}
.text-admin-false{
    color: #FF2400;
}
.teller-find-account-info{
    text-transform: capitalize;
    margin: 5px;
    padding: 5px;
    font-size: 1.5em;
}
.account-find-input-info{
    border-radius: 5px;
    height: 35px;
    font-size: 1em;
    width: 50vw;
}
.find-account-button-info{
    height: 40px;
    color: #f1f1f1;
    border-radius: 5px;
    background:#4d7e29;
    font-size: .75em;
}
.update-info-teller-container{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.welcome-teller-name{
    font-family: $title-font
}
@media (min-width: 750px){
    .admin-info-container{
        margin: 10px;
    }
    .udpate-description{
        width: 400px;
        font-size: 2em;
    }
    .desktop-info-container{
        width: 90%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .info-input{
        height: 50%;  
    }
    
    .admin-boolean-container{
        background: none;
        width: 200px;
    }
    .info-container{
        height: 70vh;
    }
    
}
@keyframes colorChange{
    from{
        background: #FF2400
    }
    to {
        background: #4d7e29
    }
}
@keyframes oppColorChange{
    from{
        background: #4d7e29
    }
    to{
        background: #FF2400
    }
}

