.menu-link:visited{
    color: black;
    text-decoration: none;
}
.logo-to-home:visited{
    color: black;
}
.dropdown-menu{
    border: 1px solid #000;
    background-color: rgb(206, 206, 206);
    border-radius: 0px 0px 10px 10px;
}